<!DOCTYPE html>
<html>
<title>Delete Restaurant</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->

<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
    background-image: url({{ url_for('static', filename='onepage_restaurant.jpg') }})
}

</style>
<body onload='myFunction()'>
	
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="{{url_for('showRestaurants')}}" class="w3-bar-item w3-button">HOME</a> 
    <a href="{{url_for('showMenu', restaurant_id = restaurant_id)}}" class="w3-bar-item w3-button">Back to Menu</a> 
</div>


<script>function myFunction() 
{alert('You are not authorized to add menu items to this restaurant. Please create your own restaurant in order to add items.');}
</script>
</body>
</html>