<!DOCTYPE html>
<html>
<title>All Restaurant</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->

<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
    background-image: url({{ url_for('static', filename='onepage_restaurant.jpg') }})
}

</style>
<body>
<!-- Navbar-->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="{{url_for('showRestaurants')}}" class="w3-bar-item w3-button">HOME</a>    
    {%if 'username' not in session %}
      <a href="{{url_for('showLogin')}}" class="w3-bar-item w3-button w3-display-topright">Click Here to Login </a>
      {% else %}
      <a href="{{url_for('disconnect')}}" class="w3-bar-item w3-button w3-display-topright">Logout</a>
    {% endif %}    
  </div>  
</div>
  
<!-- Header -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px">
      <b>Create New Restaurant</b>
    </span>
    <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><b>ACreate New Restaurant</b></span>
  
    <form action="#" method = "post">
      <div class="form-group w3-green">
        <label for="name"><h2>Your Restaurant Name:</h2></label>
        
        
    <div class="w3-row">
    <div class="w3-col" style="width:25%"><p></p></div>
    <input type ="text" class="form-control w3-col" style="width:50%" maxlength="60" name="name">
    <div class="w3-col" style="width:25%"><p></p></div>
    </div>


        <div class="padding-bottom"></div>
        <div><br></div>
        <button type="submit" class="btn btn-default w3-pale-green" id="submit" type="submit">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp&nbspCreate&nbsp&nbsp<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></button>
        <div><br></div>
      </div>
      
    </form>
  </div>
</header>
<div class="w3-pale-green text-center text-white">
  <div class="container">
    <h3>Copyright &copy; Xuanqi Chen 2017</h3>
    <br><br>
  </div>
</div>
</body>
</html>